* {
    margin: 0 auto;
    padding: 0;
}
body {
    background-color: rgb(11, 11, 11);
    overflow: hidden;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border:1px solid #ffffff;
}
h2 {
    font-size: 18px;
    color: white;
    line-height: 200%;
}
.nadpis {
    padding-top: 20px;
}
.editor img {
    width: 50px;
    height: 50px;
}
.editor img:hover {
    transform: scale(1.2);

}

.editor p {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}
.editor {
    text-align: right;
    margin-right: 0px;
    width: 270px;
    background-color: rgba(45, 45, 45, 0.79);
    height: 1080px;
    position: relative;
}
.textury {
    text-align: center;
    display: inline-flex;
    gap: 20px;
    justify-content: space-around;
    margin-right: 15%;

}
.hover-text:hover {
    display: block;
    color: #ffffff;
    transition: 0.2s;
    
}
.visible:hover {
    color: white;
    display: none;
}
.visible {
    color: white;
    display: block;
}

.obsah {
    display: flex;
}

.parametry {
    background-color: rgba(24, 24, 24, 0.79);
    width: 270px;
    height: 500px;
    margin-top: 100%;
}
.set {
    text-align: center;
    display: inline-flex;
    gap: 20px;
    justify-content: space-around;
    margin-right: 10%;
    border: 1px solid red;
    width: 80%;
    height: 400px;
}

#rozsah {
    border: 1px solid gold;
    width: 100%;
}
.value {
    border: 1px solid beige;
    height: 30px;
    display: inline-flex;
    gap: 15px;
}
